@import "general.scss";

.footer-socials-list {
    display: flex;
}

.footer-socials-link {
    background-repeat: no-repeat;
    display: inline-block;
    width: 32px;
    height: 32px;
}

.footer-socials-link--pint {
    background-image: url('./images/pinterest.svg');
}

.footer-socials-link--fb {
    background-image: url('./images/facebook.svg');
}

.footer-socials-link--you {
    background-image: url('./images/youtube.svg');
}

.footer-socials-link--inst {
    background-image: url('./images/instagram.svg');
}
