aside.aside 
    div.aside-detox
        h3 Детокс-курс на неделю
        a(href="").aside-detox Подробнее

    a(href="").aside-menu
        img(src="./images/selebrate.jpg", alt="").aside-menu--img
        h3 Праздничное меню
        p Полное меню на любой праздник: горячее, салаты, закуски и дессерт
        a(href="")  Подробнее
    .aside-mailing
        img(src="./images/mailing.jpg", alt="").aside-mailing--img
        h3 Попишитесь на нашу рассылку
        p Новые рецепты, сборники, советы и подробки блюд специально для вас!
        input(type="text", placeholder="Ваша почта")
        a(href="")  Подписаться