footer.footer
p.footer-copyright AllFood © 2021 Все права защищены
a(href="").footer-poliсy Политика конфиденциальности
ul.footer-socials-list
    li.footer-socials-item
        a(href="").footer-socials-link.footer-socials-link--pint
    li.footer-socials-item
        a(href="").footer-socials-link.footer-socials-link--fb
    li.footer-socials-item
        a(href="").footer-socials-link.footer-socials-link--you 
    li.footer-socials-item
        a(href="").footer-socials-link.footer-socials-link--inst
