main 
    .slider
        h1.slider-h1 Топ продуктов во время пандемии - где взять витамины C, D и цинк
        p.slider-p В этом году нам досталось настоящее испытание в виде пандемии, и, кажется, обычный чай тут уже не поможет.
    
    section.settings
        h2.h2 Сортировать по:
        ul.sort-list
            li.sort-item 
                a(href="").sort-link Популярности
            li.sort-item 
                a(href="").sort-link Каллорийности
            li.sort-item 
                a(href="").sort-link Новизне
        input(type="text", placeholder="Поиск")

    section.tags
        h2.h2 Теги:
        ul.tags-list
            li.tags-item 
                a(href="").tags-link Омлет
            li.tags-item 
                a(href="").tags-link Завтрак
            li.tags-item 
                a(href="").tags-link Простой
            li.tags-item 
                a(href="").tags-link Десерт
            li.tags-item 
                a(href="").tags-link Бекон
            li.tags-item 
                a(href="").tags-link Тунец
            li.tags-item 
                a(href="").tags-link Лосось
            li.tags-item 
                a(href="").tags-link Ребрышки
            li.tags-item 
                a(href="").tags-link Закуски
            li.tags-item 
                a(href="").tags-link Салаты
            li.tags-item 
                a(href="").tags-link Курица
            li.tags-item 
                a(href="").tags-link Праздничные блюда
            li.tags-item 
                a(href="").tags-link Итальянская кухня
        