nav.nav
    a(href="").nav-logo
    ul.nav-site-list
        li.nav-site-item
            a(href="").nav-site-link Горячее
        li.nav-site-item
            a(href="").nav-site-link Завтраки
        li.nav-site-item
            a(href="").nav-site-link Салаты
        li.nav-site-item
            a(href="").nav-site-link Закуски
        li.nav-site-item
            a(href="").nav-site-link Десерты
        li.nav-site-item
            a(href="").nav-site-link Напитки
        li.nav-site-item
            a(href="").nav-site-link Статьи

    ul.nav-user-list
        li.nav-user-item 
            a(href="").nav-user-link.nav-user-link--1 Вход / Регистрация
        li.nav-user-item 
            a(href="").nav-user-link.nav-user-link--2 О проекте